
<!DOCTYPE html>
<html>
<head>
<title>Admin Panel</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

<h1>LOOK LOOK ADMIN IS HERE</h1>

<img src="https://www.indiatoday.in/india/story/pm-modi-spoof-video-meme-mamata-banerjee-bjp-kolkata-police-notice-2536020-2024-05-06">

<div class="card">

<h2>FLAG</h2>

<p><%= flag %></p>

<audio controls>
<source src="https://www.myinstants.com/media/sounds/modi-sab-changasi.mp3" type="audio/mpeg">
</audio>

</div>

</div>

</body>
</html>
