
<!DOCTYPE html>
<html>
<head>
<title>No Access</title>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">

<h1>User ho aukat me raho</h1>

<img src="https://media1.tenor.com/m/P8E1xJkW4cUAAAAd/beta-niche-aao-niche-aao.gif">

<audio controls>
<source src="https://www.myinstants.com/media/sounds/modi-ji-rona-band-kijiye.mp3" type="audio/mpeg">
</audio>

</div>

</body>
</html>
